.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .map-img {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }