<div class="bg-white dark:bg-gray-800 h-screen">
    <button title="Toggle Theme" (click)="toogleDarkMode()"
    class="w-12 h-6 rounded-full p-1 bg-gray-400 dark:bg-gray-600 relative transition-colors duration-500 ease-in focus:outline-none focus:ring-2 focus:ring-blue-700 dark:dark:bg-sky-900 focus:border-transparent">
      <div class="rounded-full w-4 h-4 bg-orange-500 dark:bg-sky-900 relative ml-0 dark:ml-6 pointer-events-none transition-all duration-300 ease-out"></div>
    </button>
  <div class="bg-orange-500 dark:bg-sky-900 px-6 py-6 mx-5 my-5 rounded-xl m-auto shadow-2xl">
    <h1 class="text-left text-2xl text-white font-semibold pb-2">Hello Rubén Peregrina</h1>
    <p class="text-white pb-2">Your item is on the way.</p>
    <p class="text-white font-semibold pb-4">Estimated delivery: today 18:15 - 19:15</p>
    <div class="flex justify-between">
        <fa-icon [icon]="faWarehouse" size="2xl" class="pr-3 text-white"></fa-icon>
        <fa-icon [icon]="faDollyBox" size="2xl" class="pr-3 text-white"></fa-icon>
        <fa-icon [icon]="faTruckFast" size="2xl" class="pr-3 text-white"></fa-icon>
        <fa-icon [icon]="faHandHoldingHeart" size="2xl" class="pr-3 text-white"></fa-icon>
    </div>
      <p class="text-white pb-4 pt-4">There are 6 customers before you.</p>
      <app-map></app-map>
  </div>
  <div class="bg-orange-500 dark:bg-sky-900 px-6 py-6 mx-5 my-5 rounded-xl m-auto shadow-2xl">
    <div class="flex items-center justify-items-start">
        <fa-icon [icon]="faCalendarDays" size="2xl" class="pr-3 text-white"></fa-icon>
        <h1 class="text-left text-2xl text-white font-semibold pb-2">Entrega planeada</h1>
    </div>
    <p class="text-white pb-2 font-medium">4 de Enero de 2023 09:00 - 20:00</p>
  </div>
  <div class="bg-orange-500 dark:bg-sky-900 px-6 py-6 mx-5 my-5 rounded-xl m-auto shadow-2xl">
    <div class="flex items-center justify-items-start">
        <fa-icon [icon]="faLocationDot" size="2xl" class="pr-3 text-white"></fa-icon>
        <h1 class="text-left text-2xl text-white font-semibold pb-2">Entregado a</h1>
    </div>
    <p class="text-white pb-2 font-medium">Rubén Peregrina</p>
    <p class="text-white pb-2 font-normal">Carrer Corcega 4 08032 Barcelona, España</p>
  </div>
  <div class="bg-orange-500 dark:bg-sky-900 px-6 py-6 mx-5 my-5 rounded-xl m-auto shadow-2xl">
    <div class="flex items-center justify-items-start">
        <fa-icon [icon]="faTruckFast" size="2xl" class="pr-3 text-white"></fa-icon>
        <h1 class="text-left text-2xl text-white font-semibold pb-2">Tu repartidor</h1>
    </div>
    <p class="text-white pb-2 font-medium">Luis Fernandez</p>
  </div>
</div>

<!-- <div class="bg-orange-400 relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
  <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
    <div class="mx-auto max-w-md">
      <p>Hello name</p>
      <div class="divide-y divide-gray-300/50">
        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
          <p>Yor order is on the way</p>
          <p class="text-2xl">Estimated delivery: Today 18:15 - 19:15</p>
          


          <mat-stepper>
            <mat-step label="Received" state="Received">
            </mat-step>
            <mat-step label="Prepared" state="Prepared">
            </mat-step>
            <mat-step label="On the way" state="On the way">
            </mat-step>
            <mat-step label="Delivered" state="Delivered">
            </mat-step>
          
            <ng-template matStepperIcon="Received">
              <mat-icon>call_end</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="Prepared">
              <mat-icon>forum</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="On the way">
              <mat-icon>forum</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="Delivered">
              <mat-icon>forum</mat-icon>
            </ng-template>
          </mat-stepper>


          <p class="text-2xl font-semibold">There are 6 customers before you.</p>
          <app-map></app-map>
        </div>
        <div class="pt-8 text-base font-semibold leading-7">
          <p class="text-gray-900">Want to dig deeper into Tailwind?</p>
          <p>
            <a href="https://tailwindcss.com/docs" class="text-sky-500 hover:text-sky-600">Read the docs &rarr;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
